.series0 {
    -fx-stroke-width: 1;
    -fx-stroke: #f3622d;
}

.series0.chart-line-symbol {
    -fx-shape: "M0,0 L0,0";
}

.series1 {
    -fx-stroke-width: 0;
}

.series1.chart-line-symbol {
    -fx-background-color: #57b757;
}